<h2 class="very sub-header">{{title}}</h2>

<div class="such card many card-single so card-theme-{{theme}}">
    <div class="wow doge very doge-card">
        <div class="so prop such prop-{{theme}}"></div>
    </div>

    <div class="wow such card-header">
        <div class="many card-to wow">To: {{to}}</div>
        <div class="such card-from">From: {{from}}</div>
    </div>

    <div class="many card-body wow">
        {{{message}}}
    </div>
</div>

<div class="many buttons">
    <h2 class="so sub-header">Wow, Send your own Doge Card!</h2>
    <a class="wow btn such create" href="/create">Wow Create Card</a>
</div>

<div class="many buttons">
    <h2 class="so sub-header sub-header-subscribe">New! Subscribe for updates for future holidays!</h2>
    <a id="subscribe-click" class="wow btn such view">Wow Such Subscribe</a>

    <form id="form-subscribe" style="display: none">
        <fieldset>
            <div>
                <label for="email">Your email:</label>
                <div>
                    <input type="email" id="email" name="email" required>
                </div>
            </div>

            <div class="many buttons">
                <input type="submit" class="wow btn such view" value="Wow Subscribe!">
            </div>
        </fieldset>
    </form>

    <h2 id="subscribe-success" class="very sub-header" style="display: none">Wow Such Success!</h2>
</div>
